# Python Version: ~=3.12.0

# --- Torch Stack (Handled in Dockerfile) ---
# torch
# torchvision
# torchaudio
# triton
# pytorch-triton-rocm

# --- Dependencies ---
hydra-core                        # Configuration management
hydra-zen                         # Cleaner Hydra configs
lightning                         # PyTorch wrapper to decrease boilerplate
ordered-set                       # Sets w/ deterministic order (for dynamic nets)
wandb==0.23.0                     # Logging | https://github.com/wandb/wandb/issues/11064
wandb-osh                         # Logging on offline nodes
beartype                          # Dynamic type checking
jaxtyping                         # Torch tensor annotations
einops                            # Makes shape transformations more readable
datasets                          # Datasets published on Hugging Face
gymnasium[classic-control,box2d]  # RL/IL environments
torchrl                           # RL/IL
packaging                         # Build Mamba from source
ema-pytorch                       # EMA
x_transformers                    # Transformer utils
transformers                      # Huggingface models
timm                              # Vision modeling utils
matplotlib                        # Plotting

# --- Git Dependencies ---
# Launcher config (python argument for submitit + sequential task launching local)
hydra-submitit-launcher @ git+https://github.com/maximilienleclei/hydra#subdirectory=plugins/hydra_submitit_launcher/

# Mamba wrapper
mambapy @ git+https://github.com/alxndrTL/mamba.py
